Give the abilty to setup a custom proxy source

Allow us to setup a custom HTTP proxy source to proxy all app traffic through


Do you have a custom proxy?

Http connections are that simple or proxy may demand special configuration isn't that simple.

So if you have one share what is need so I can see if possible.

TTV LOL Pro allows for custom proxies. There's a list here https://github.com/younesaassila/ttv-lol-pro/discussions/130

and most importantly it allows for Nord VPN proxy to work. No set up by the user needed (just need to pay for NordVPN)

See comment below.
https://github.com/younesaassila/ttv-lol-pro/discussions/130#discussioncomment-6655172

I need the full configuration of the proxy a URL  will not do it. Preferable with a tested example of how it works.

if is something that has a password one can send it via email.

Does this help?

https://github.com/younesaassila/ttv-lol-pro/discussions/151
(see4️ 4️⃣[4], but don't use "[-n]" in the secure config, was a mistake by the discussion creator)

no, just see my previously post

Hey just chiming in that I'd really like this feature too. Even if the initial pass only allowed for open proxies. I run a squid proxy on AWS and just add networking rules inside the AWS console to only allow connections from my IP address.

If you could post a link to the section of code where the ttvlol pro proxy is set, I could even try giving a crack at it and open a PR?

Also, if you wanted to chat about how you could set one of those up for free, just sign up for AWS, then SSH in/configure security groups appropriately then `sudo yum install squid` and then here's my squid.conf:
```
#
# Recommended minimum configuration:
#

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
acl localnet src 0.0.0.1-0.255.255.255  # RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8             # RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10          # RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16         # RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12          # RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16         # RFC 1918 local private network (LAN)
acl localnet src fc00::/7               # RFC 4193 local private network range
acl localnet src fe80::/10              # RFC 4291 link-local (directly plugged) machines
acl localnet src ####MY CIDR /32 HERE####
acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http

#
# Recommended minimum Access Permission configuration:
#
# Deny requests to certain unsafe ports
#http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
#http_access deny CONNECT !SSL_ports

# Only allow cachemgr access from localhost
http_access allow localhost manager localnet
http_access deny manager

# This default configuration only allows localhost requests because a more
# permissive Squid installation could introduce new attack vectors into the
# network by proxying external TCP connections to unprotected services.
http_access allow localhost

# The two deny rules below are unnecessary in this default configuration
# because they are followed by a "deny all" rule. However, they may become
# critically important when you start allowing external requests below them.

# Protect web applications running on the same server as Squid. They often
# assume that only local users can access them at "localhost" ports.
http_access deny to_localhost

# Protect cloud servers that provide local users with sensitive info about
# their server via certain well-known link-local (a.k.a. APIPA) addresses.
http_access deny to_linklocal

#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

# For example, to allow access from your local networks, you may uncomment the
# following rule (and/or add rules that match your definition of "local"):
http_access allow localnet

# And finally deny all other access to this proxy
http_access deny all

# Squid normally listens to port 3128
http_port 3128

# Uncomment and adjust the following to add a disk cache directory.
#cache_dir ufs /var/spool/squid 100 16 256

# Leave coredumps in the first cache dir
# coredump_dir /var/spool/squid

#
# Add any of your own refresh_pattern entries above these.
#
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320
# No caching
cache deny all

# No logging
access_log none
cache_store_log none
cache_log /dev/null

# Privacy; do not tell websites your origin IP address
via off
forwarded_for delete
follow_x_forwarded_for deny all
```

I use the above with my ttvlol pro extension and it works great. It'd be sweet if I could get it to work with this app as well

Oh one last thing, if you don't wanna bother setting up a proxy in AWS to test, just let me know your CIDR /32 and I can add you to my proxy if that would be helpful